body
{
background-image: url('images/hacktober.jpg');
height: 125vh;
margin-top: 80px;
padding: 30px;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: sans-serif;
}

header {
background-color: orange;
position: fixed;
left: 0;
right: 0;
top: 5px;
height: 30px;
display: flex;
align-items: center;
box-shadow: 0 0 25px 0 black;
}
header * {
display: inline;
}
header li {
margin: 20px;
}
header li a {
color: blue;
text-decoration: none;
}


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="stylesheet.css" type="text/css" rel="stylesheet" />
	</head>
<body>
    <fieldset style="border: ;">

	<h1>Apply for Internship opportunities at ABC pvt Ltd</h1>
	<p>
	If you are interested in the above,Please forward your CV to Mr.Aruna -<br>
		Asst.Manager HR & Admin hr@abc.lk

	</p>

	<h4>
	For future information call on: <br>
	0115446000
    </h4>
    </fieldset>
</body>
</html>
 CSS

h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;

}
p{
text-align: justify;
font-family: garamond;

}
h4{
    color: blue;
    font-family: Arial;
}

.bottom-container {
  background-color: #d1ecf1;
  padding: 50px 0 20px;
	border-radius: 5px;
}

.copyright{
  color: #000000;
  font-size: 1.5rem;
  padding-left: 425px;
}
