body
{
background-image: url('images/hacktober.jpg');
height: 125vh;
margin-top: 80px;
padding: 30px;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: sans-serif;
}

body header {
background-color: orange;
left: 0;
right: 0;
top: 5px;
height: 30px;
align-items: center;
box-shadow: 0 0 25px 0 black;
display:inline-block;
width:100%;
height:75px;
}
body header nav{

}
body header nav ul{


}
body header li {
margin:5px 10px 0px 10px;
padding:5px;
float:left;
list-style-type:none;

}
body header li a {
color: blue;
margin:15px;
padding:5px;
text-decoration: none;
font-family: sans-serif;
text-align:center;
}

body header li a:hover{
	background-color:yellow;
	border-radius:10px;
	text-decoration:none;
}


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="stylesheet.css" type="text/css" rel="stylesheet" />
	</head>
<body>
    <fieldset style="border: ;">

	<h1>Apply for Internship opportunities at ABC pvt Ltd</h1>
	<p>
	If you are interested in the above,Please forward your CV to Mr.Aruna -<br>
		Asst.Manager HR & Admin hr@abc.lk

	</p>

	<h4>
	For future information call on: <br>
	0115446000
    </h4>
    </fieldset>
</body>
</html>
 CSS

h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;

}
p{
text-align: justify;
font-family: garamond;

}
h4{
    color: blue;
    font-family: Arial;
}
#footer_user_1{
	background-color:black;

}
#footer_user_1 ul{
	display: inline-block;
}
#footer_user_1 ul li{
	list-style-type: none;
	float:left;
}
#footer_user_1 ul li a{
	text-decoration:none;
	margin:10px 10px 5px 10px;
}
#footer_user_2{
	background-color:yellow;
}
#footer_user_2 ul{
	display: inline-block;
}
#footer_user_2 ul li{
	list-style-type: none;
	float:left;
}
#footer_user_2 ul li a{
	text-decoration:none;
	margin:10px 10px 5px 10px;
}
#footer_user_3{
	background-color:black;
}
#footer_user_3 ul{
	display: inline-block;
}
#footer_user_3 ul li{
	list-style-type: none;
	float:left;
}
#footer_user_3 ul li a{
	text-decoration:none;
	margin:10px 10px 5px 10px;
}

.bottom-container {
  background-color: #d1ecf1;
  padding: 50px 0 20px;
	border-radius: 5px;
}

.copyright{
  color: #000000;
  font-size: 1.5rem;
  padding-left: 425px;
}
